@model IEnumerable<DapperDemo.Models.Employee>

@{
    ViewBag.Title = "MultipleRecord";
}

<h2>Multiple Record</h2>


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.nam
       )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dept)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.nam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dept)
        </td>
        
    </tr>
}

</table>

@Html.ActionLink("Back To Main Menu","index")
